# Turborepo specific
.turbo

# Dependencies
node_modules
/node_modules

/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build outputs
.next/
/out/
/build
/dist

# Environment files
.env

# IDE and OS specific
.DS_Store
.vscode/
*.pem

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo

go-echo-starter